<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 full-s-width">
                <nav class="menu-footer">
                    <ul>
                        <li><a href="#">Premium Login</a></li>
                        <li><a href="#">See Prices and Sign Up</a></li>
                        <li><a href="#">Success Stories</a></li>
                        <li><a href="#">Frequently Asked Questions</a></li>
                        <li><a href="#">Partner Login</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 full-s-width">
                <nav class="menu-footer">
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Locations</a></li>
                        <li><a href="#">Affiliate Program</a></li>
                        <li><a href="#">Press</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 full-s-width">
                <nav class="menu-footer">
                    <ul>
                        <li><a href="#">Refund Policy</a></li>
                        <li><a href="#">Send in Your Travel Photos & Videos</a></li>
                        <li><a href="#">Updated Terms of Use</a></li>
                        <li><a href="#">Updated EU Safe Harbor Policy</a></li>
                        <li><a href="#">Updated Privacy Policy</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="copy">
            <p>&copy; 2017 Walletpath Travel</p>
        </div>
    </div>
</footer><!-- .footer -->