<header class="header header-deep">
        <div class="h-block-parent">
            <div class="logo h-block">
                <a href="#"><img src="images/logo.png" alt="logo"></a>
            </div>
            <div class="menu h-block">
                <ul>
                    <li><a href="#">My Account</a></li>
                    <li><a href="#">Español/ Português</a></li>
                    <li><a href="#">Departure Cities</a></li>
                    <li class="active"><a href="#">Update Billing</a></li>
                    <li><a href="#">Support</a></li>
                </ul>
            </div>
            <div class="login h-block">
                <a href="#" class="btn-empty">login</a>
            </div>
        </div>
</header>
<!-- .header-->