$grid: 24;

$gutter-container: 0;//якщо з боків є відступи в вигляді якось панелі, то вписуємо сюди її ширину в пікселях, якщо таких панелей немає то 0

$media-xl: 1920;
$media-lg: 1280;
$media-md: 1024;
$media-sm: 768;
$media-sl: 640;
$media-xs: 480;

$fz: 10;

$container: 1170;
$gutter: 15;
