/* ==|====================
   Layout/Header
   ======================= */
.header{
    background-color: #fff;
    @include ptr(padding,20 0);
}
.h-block-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.h-block{

}