/* ==|====================
   Module/Responsive
   ======================= */

@media only screen and (max-width: 2000px) {

}

@media only screen and (max-width: 1680px) {
    .proposals-item{
        @include ptr(height, 400);
    }
}

@media only screen and (max-width: 1366px) {
    html{
        font-size: 9px;
    }
}

@media only screen and (max-width: 1280px) {

}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 1024px) {
    .banner-info-pos{
        padding: 0 15px;
    }
    .proposals-item{
        @include ptr(height, 350);
    }
    html {
        font-size: 8px;
    }
}

@media only screen and (max-width: 768px) {
    .feature-parent{
        span{
            width: 33.3333%;
            text-align: center;
            @include ptr(margin, 20 0);
        }
    }
}

@media only screen and (max-width: 640px) {
    .full-width{
        width: 100%;
    }
    .logo{
        width: 100%;
        text-align: center;
        @include ptr(margin, 0 0 40);
    }
    .form-s{
        @include ptr(width, 500);
    }
    .overload-item{
        text-align: center;
        @include ptr(margin, 0 0 40);
    }
    .overload-icon,
    .overload-img{
        text-align: center;
        i{
            position: static;
        }
    }
    .proposals-item{
        @include ptr(padding, 15);
    }
}

@media only screen and (max-width: 480px) {
    .full-s-width{
        width: 100%;
    }
    .feature-parent{
        span{
            width: 100%;
        }
    }
    .form-s{
        width: 100%;
        input,
        .btn-form-s{
            width: 100%;
            text-align: center;
            @include ptr(margin, 0 0 30 0);
        }
    }
    .proposals-item{
        width: 100%;
    }
    .menu-footer{
        @include ptr(margin, 0 0 60 0);
    }
    .copy{
        margin: 0;
    }
    .footer{
        height: 720px;
        margin: -720px auto 0;
    }
    .content{
        padding: 0 0 720px;
    }
}