/* ==|====================
   Module/Sections
   ======================= */

/*===Section-Banner===*/
.banner{
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    @include ptr(height, 600);
}
.banner-info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .container{
        position: relative;
        height: 100%;
    }
}
.banner-info-pos{
    position: absolute;
    height: 100%;
    @include ptr(padding, 0 130);
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*===Section-Feature===*/
.feature{
    background-color: #f7f7f7;
    @include ptr(padding, 10 0);
}
.feature-parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    @include ptr(margin, 0 -15);
    span{
        @include ptr(padding, 0 15);
    }
}

/*===Section-Instruction===*/
.instruction{
    @include ptr(padding, 85 0);
    position: relative;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent url("../images/bg-instruction.png") no-repeat scroll 8% 100%;
        z-index: -1;
    }
}
.instruction-parent{
    @include ptr(margin, 105 0 0 0);
    .overload-icon{
        height: 62px;
    }
}

/*===Section-Proposal===*/
.proposals{
    overflow: hidden;
}
.proposals-item{
    position: relative;
    width: 50%;
    @include ptr(height, 500);
    @include ptr(padding, 20 45);
    float: left;
    color: #fff;
    overflow: hidden;
    &:hover .proposals-bg{
        transform: scale(1.2,1.2);
    }
}
.proposals-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    transition: $linear-f;
}
.proposals-item-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.proposals-title{
    position: relative;
    @include fluidFontSize(14px,18px,480px,1680px,22px,16px);
    @include ptr(margin, 0 0 20 0);
}
.proposals-info{
    position: relative;
    span{
        @include fluidFontSize(24px,48px,480px,1680px,52px,32px);
        position: relative;
        @include ptr(margin, 0 0 30 0);
        display: block;
        @include ptr(padding, 0 0 0 70);
        &::before{
            content: '';
            position: absolute;
            @include ptr(top,25);
            left: 0;
            @include ptr(width,40);
            height: 1px;
            background-color: #fff;
        }
    }
    p{
        @include fluidFontSize(15px,30px,480px,1680px,34px,22px);
        @include ptr(padding, 0 0 0 70);
    }
}

/*===Section-Stories===*/
.stories{
    @include ptr(padding, 85 0 95);
    position: relative;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent url("../images/bg-stories.png") no-repeat scroll 50% 50%;
        z-index: -1;
    }
}
.stories-parent{
    @include ptr(margin, 85 0 0 0);
    .overload-item{
        padding: 0;
    }
}

/*===Section-Flight===*/
.flight{
    background: transparent url("../images/bg-flight.png") no-repeat scroll 50% 50%;
    @include ptr(padding, 90 0);
    .form-s{
        @include ptr(margin-top, 60);
    }
}

/*===Section-Save===*/
.save{
    @include ptr(padding, 85 0 0);
    position: relative;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent url("../images/bg-stories.png") no-repeat scroll 50% 50%;
        z-index: -1;
    }
}
.save-parent{
    @include ptr(margin, 100 0 0 0);
    .overload-item{
        @include ptr(margin, 0 0 90 0);
        padding: 0;
    }
    .overload-icon{
        height: 60px;
    }
    .overload-saved{
        @include ptr(margin, 0 0 10 0);
    }
}
.save-title{
    color: $color3;
    @include ptr(margin, 0 0 25 0);
}



/*===ACCOUNT===*/
/*===Account-Settings===*/
.account-settings{
    @include ptr(margin, 115 0 0 0);
}
.form-account{
    input[type="submit"]{
        line-height: 0;
    }
    textarea{
        @include ptr(height, 60);
        @include ptr(padding,10 30);
        @include ptr(margin, 0 0 40 0);
    }
}
.form-account-input{
    label{
        display: block;
        position: relative;
        span{
            position: absolute;
            @include ptr(top, -25);
            left: 0;
            text-transform: uppercase;
            font-weight: bold;
            @include fluidFontSize(12px,14px,480px,1680px,18px,13px);
        }
    }
}
.form-account-radio{
    position: relative;
    @include ptr(margin, 30 0 30 0);
    p{
        display: block;
        position: absolute;
        @include ptr(top, -35);
        left: 0;
        text-transform: uppercase;
        font-weight: bold;
        @include fluidFontSize(12px,14px,480px,1680px,18px,13px);
    }
    label{
        @include ptr(margin, 0 35 0 0);
        display: inline-block;
        &:last-child{
            margin: 0;
        }
    }
    .jq-radio,
    span{
        display: inline-block;
        vertical-align: middle;
    }
}

.form-account-select-input{
    display: flex;
    align-items: flex-end;
    margin: 0 -15px;
    label{
        display: block;
        position: relative;
        @include ptr(margin, 0 0 40 0);
        width: 33.3333%;
        margin-left: 15px;
        margin-right: 15px;
        span{
            position: absolute;
            @include ptr(top, -25);
            left: 0;
            text-transform: uppercase;
            font-weight: bold;
            @include fluidFontSize(12px,14px,480px,1680px,18px,13px);
        }
        input,
        select{
            margin: 0;
        }
    }
}

.account-text-space{
    @include ptr(padding, 0 0 0 30);
}
.account-text-block{
    display: flex;
    flex-wrap: wrap;
    @include ptr(margin, 50 0 0 0);
    &:first-child{
        margin: 0;
    }
    a{
        display: inline-block;
        text-decoration: underline;
        color: $color2;
        @include fluidFontSize(14px,16px,480px,1680px,20px,15px);
        &:hover{
            text-decoration: none;
        }
    }
}
.account-text-row{
    width: 50%;
    @include ptr(margin, 50 0 0 0);
    &:first-child,
    &:nth-child(2){
        margin: 0;
    }
    span{
        text-transform: uppercase;
        font-weight: bold;
        @include fluidFontSize(12px,14px,480px,1680px,18px,13px);
        color: #a5a5a5;
        display: block;
        @include ptr(margin, -6 0 5 0);
    }
    p{
        @include ptr(margin, 0 0 5 0);
    }
}
.account-text-trow{
    width: 100%;
}
.account-text-column{
    columns: 2;
    column-gap: 30px;
}
.account-blink{
    @include ptr(margin, 40 0 0 0);
}
.account-slink{
    @include ptr(margin, 10 0 0 0);
}
/*===Update-Billing===*/
.update-billing{
    @include ptr(margin, 80 0 0 0);
}
/*===Departure-Cities===*/
.form-search-checkbox{
    display: flex;
    flex-wrap: wrap;
    @include ptr(margin, 0 -15);
}
.form-search-checkbox-block{
    width: 33.3333%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    @include ptr(padding, 0 15);
    label{
        @include fluidFontSize(14px,16px,480px,1680px,20px,15px);
        display: flex;
        align-items: center;
        @include ptr(margin, 0 0 20 0);
        width: 100%;
    }
}
.checkbox-all{
    align-self: flex-end;
    font-weight: bold;
}
.checkbox-low,
.departure-table-item-low{
    span{
        color: #ffc000;
    }
}
.checkbox-medium,
.departure-table-item-medium{
    span{
        color: #ff9300;
    }
}
.checkbox-rare,
.departure-table-item-rare{
    span{
        color: #7ac62d;
    }
}
.checkbox-high,
.departure-table-item-high{
    span{
        color: #ff4600;
    }
}

.departure-table{
    @include ptr(margin, 40 0 0 0);
    .title-block{
        margin: 0;
    }
}
.departure-table-item{
    position: relative;
    @include ptr(padding, 0 0 0 26);
    @include ptr(margin, 10 0 0 0);
    &::before{
        content: '';
        position: absolute;
        @include ptr(top,11);
        left: 0;
        height: 1px;
        @include ptr(width,16);
        background-color: #efefef;
    }
    p,span{
        display: inline-block;
        @include fluidFontSize(14px,16px,480px,1680px,20px,15px);
    }
    span{
        @include ptr(margin, 0 4 0 0);
    }
}

.form-middle-checkbox{
    display: block;
    text-align: center;
    .form-search-checkbox-block{
        display: inline-block;
        width: auto;
        text-align: left;
    }
}
.departure-thanks{
    @include fluidFontSize(15px,30px,480px,1680px,34px,22px);
    text-align: center;
}

/*===Text-Pages===*/
.text-content p{
    @include ptr(margin, 30 0 0 0);
    @include fluidFontSize(14px,16px,480px,1680px,20px,15px);
}
.text-center{
    text-align: center;
}