/* ==|====================
   Module/Sections
   ======================= */

/*===Section-Banner===*/
.banner{
    position: relative;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    @include ptr(height, 600);
}
.banner-info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .container{
        position: relative;
        height: 100%;
    }
}
.banner-info-pos{
    position: absolute;
    height: 100%;
    width: 100%;
    @include ptr(padding, 0 130);
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*===Section-Feature===*/
.feature{
    background-color: #f7f7f7;
    @include ptr(padding, 10 0);
}
.feature-parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    @include ptr(margin, 0 -15);
    span{
        @include ptr(padding, 0 15);
    }
}

/*===Section-Instruction===*/
.instruction{
    @include ptr(padding, 85 0 0);
    position: relative;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent url("../images/bg-instruction.png") no-repeat scroll 8% 100%;
        z-index: -1;
    }
}
.instruction-parent{
    @include ptr(margin, 105 0 0 0);
    .overload-icon{
        height: 62px;
    }
}

/*===Section-Proposal===*/
.proposals{
    overflow: hidden;
}
.proposals-item{
    position: relative;
    width: 50%;
    @include ptr(height, 500);
    @include ptr(padding, 20 45);
    float: left;
    color: #fff;
    overflow: hidden;
    &:hover .proposals-bg{
        transform: scale(1.2,1.2);
    }
}
.proposals-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    transition: $linear-f;
}
.proposals-item-parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.proposals-title{
    position: relative;
    @include fluidFontSize(14px,18px,480px,1680px,22px,16px);
    @include ptr(margin, 0 0 20 0);
}
.proposals-title-transp{
    @include fluidFontSize(50px,190px,480px,1680px,204px,100px);
    color: rgba(189,189,189,.1);
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.proposals-info{
    position: relative;
    span{
        @include fluidFontSize(24px,48px,480px,1680px,52px,32px);
        position: relative;
        @include ptr(margin, 0 0 30 0);
        display: block;
        @include ptr(padding, 0 0 0 70);
        &::before{
            content: '';
            position: absolute;
            @include ptr(top,25);
            left: 0;
            @include ptr(width,40);
            height: 1px;
            background-color: #fff;
        }
    }
    p{
        @include fluidFontSize(15px,30px,480px,1680px,34px,22px);
        @include ptr(padding, 0 0 0 70);
    }
}

/*===Section-Stories===*/
.stories{
    @include ptr(padding, 85 0 5);
    position: relative;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent url("../images/bg-stories.png") no-repeat scroll 50% 50%;
        z-index: -1;
    }
}
.stories-parent{
    @include ptr(margin, 85 0 0 0);
    .overload-item{
        padding: 0;
    }
}

/*===Section-Flight===*/
.flight{
    background: transparent url("../images/bg-flight.png") no-repeat scroll 50% 50%;
    background-size: cover;
    @include ptr(padding, 90 0);
    .form-s{
        @include ptr(margin-top, 60);
    }
}

/*===Section-Save===*/
.save{
    @include ptr(padding, 85 0 0);
    position: relative;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent url("../images/bg-stories.png") no-repeat scroll 50% 50%;
        z-index: -1;
    }
}
.save-parent{
    @include ptr(margin, 100 0 25 0);
    .overload-item{
        padding: 0;
    }
    .overload-icon{
        height: 60px;
    }
    .overload-saved{
        @include ptr(margin, 0 0 10 0);
    }
}
.save-title{
    color: $color3;
    @include ptr(margin, 0 0 25 0);
}

/*===PRICES===*/
.subscribers{
    &::before{
        background: none;
    }
    .overload-item{
        @include ptr(margin, 0 0 90 0);
    }
}

.premium-subscriber{
    padding-bottom: 0;
    &::before{
        background: none;
    }
    .overload-item{
        @include ptr(padding, 0 12 0 0);
        @include ptr(margin, 0 0 90 0);
    }
}

.price-table{
    @include ptr(padding, 150 0 100);
}
.price-item{
    position: relative;
    @include ptr(padding, 65 35 45);
    width: 32%;
    float: left;
    background-color: #fff;
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.05);
    .btn-smooth{
        @include ptr(width, 285);
        @include ptr(margin-top, 62);
        padding: 0;
    }
}
.price-title{
    text-align: center;
    font-family: $font1;
    font-weight: bold;
    @include fluidFontSize(24px,48px,480px,1680px,52px,36px);
    h1,h2,h3,h4{
        font-weight: bold;
    }
    p{
        @include ptr(margin,5 0 0);
        @include fluidFontSize(14px,18px,480px,1680px,22px,16px);
        font-weight: normal;
        color: #b3c3c9;
    }
}
.price-cost{
    text-align: center;
    @include ptr(margin,25 0 0);
    span{
        display: inline-block;
        @include fluidFontSize(24px,48px,480px,1680px,68px,36px);
        color: $color2;
        font-weight: bold;
        vertical-align: top;
    }
    p{
        display: inline-block;
        @include fluidFontSize(24px,48px,480px,1680px,52px,36px);
        color: $color2;
        font-weight: bold;
        i{
            font-style: normal;
            @include fluidFontSize(36px,72px,480px,1680px,80px,54px);
        }
    }
}
.price-info{
    @include ptr(margin,50 0 0);
    li{
        @include ptr(padding, 0 0 0 20);
        @include ptr(margin, 14 0 0 0);
        &:first-child{
            margin: 0;
        }
        position: relative;
        &::before{
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            width: 5px;
            height: 5px;
            margin: -3px 0 0 0;
            background-color: $color2;
            border-radius: 50%;
        }
        span{
            font-weight: bold;
        }
    }
    p{
        @include ptr(margin, 25 0 0 0);
    }
}
.price-btn{
    text-align: center;
}
.price-security{
    @include ptr(margin, 15 0 0 0);
    @include fluidFontSize(14px,16px,480px,1680px,20px,15px);
    color: #b3c3c9;
    text-align: center;
    i,span{
        vertical-align: middle;
    }
}
.price-item-popular{
    border: 20px solid #f7f7f7;
    border: 2rem solid #f7f7f7;
    @include ptr(margin, -50 0 0 0);
    width: 36%;
    z-index: 2;
    .price-info{
        @include ptr(margin, 80 0 0 0);
    }
    .btn-smooth{
        @include ptr(margin-top, 100);
    }
}

.gap{
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    @include ptr(padding, 85 0);
}
.gap-item{
    @include ptr(padding, 0 23 0 0);
}
.gap-title{
    @include fluidFontSize(16px,24px,480px,1680px,28px,20px);
    color: $color2;
    font-family: $font1;
    font-weight: bold;
    @include ptr(margin,0 0 20);
    h1,h2,h3,h4{
        font-weight: bold;
    }
}
.gap-info{
    @include fluidFontSize(14px,18px,480px,1680px,22px,16px);
    color: #fff;
    @include ptr(padding,20 0 0);
    position: relative;
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        @include ptr(width,20);
        height: 1px;
        background-color: #3d3939;
    }
}

/*===HAPPY-SUBSCRIBERS===*/
.h-subscribers{
    @include ptr(padding, 85 0 100 0);
    &::before{
        display: none;
    }
}

/*===TEAM===*/
.team{
    @include ptr(padding, 85 0 5 0);
    &::before{
        display: none;
    }
}

/*===CONTACT===*/
.email-btn{
    text-align: center;
    @include ptr(margin, 90 0 0 0);
    .btn-empty{
        text-transform: none;
    }
}

/*===FAQ===*/
.form-search{
    input{
        width: calc(100% - 60px);
    }
    .btn-form-s{
        width: 60px;
        line-height: 0;
    }
}
.list-blocks{
    @include ptr(padding, 90 0 0);
}
.list-parent{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.list-item{
    width: 50%;
    @include ptr(margin, 0 0 90);
    padding-left: 15px;
    padding-right: 15px;
    h3{
        @include fluidFontSize(16px,24px,480px,1680px,28px,20px);
        font-weight: bold;
        @include ptr(margin,0 0 20);
    }
    li{
        @include ptr(padding,0 0 0 20);
        @include ptr(margin, 12 0 0);
        position: relative;
        &:first-child{
            margin: 0;
        }
        &::before{
            content: '';
            position: absolute;
            @include ptr(top,11);
            left: 0;
            width: 5px;
            height: 5px;
            background-color: $color2;
            border-radius: 50%;
        }
        a{
            color: $color2;
            @include fluidFontSize(16px,21px,480px,1680px,25px,18px);
        }
    }
    .btn-smooth{
        @include ptr(margin, 40 0 0);
    }
}
/*===FAQ-INTERNAL===*/
.text-s-page{
    .title-page{
        margin: 0;
        text-align: left;
        @include fluidFontSize(17px,36px,480px,1680px,40px,25px);
    }
    .deep-content{
        margin: 0;
    }
}
.help-info{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    @include ptr(height, 100);
    @include ptr(line-height, 100);
    background-color: #f7f7f7;
    p{
        display: inline-block;
        @include ptr(margin, 0 40 0 0);
        @include fluidFontSize(16px,24px,480px,1680px,28px,20px);
    }
    .btn-empty{
        @include ptr(padding, 0 53);
        @include ptr(margin, 0 5 0);
    }
}

/*===PRESS===*/
.related-post{
    h2{
        font-family: $font1;
        font-weight: bold;
        @include ptr(margin,0 0 30);
        color: $color1;
        @include fluidFontSize(16px,24px,480px,1680px,28px,20px);
        h1,h2,h3,h4{
            font-weight: bold;
        }
    }
}
.related-post{
    @include ptr(margin,35 0 0);
}
.related-item{
    @include ptr(margin,35 0 0);
    &:first-child{
        margin: 0;
    }
    span{
        @include fluidFontSize(12px,14px,480px,1680px,18px,13px);
        color: #9c9c9c;
        display: block;
        @include ptr(margin,0 0 6);
    }
    p{
        @include fluidFontSize(15px,21px,480px,1680px,22px,18px);
        font-weight: bold;
        @include ptr(margin,0 0 6);
    }
    h3{
        font-weight: normal;
        @include fluidFontSize(15px,21px,480px,1680px,22px,18px);
        a{
            color: $color2;
        }
    }
}

/*===ACCOUNT===*/
/*===Login===*/
.form-login{
    @include ptr(width, 570);
    margin: 0 auto;
    .jq-checkbox{
        vertical-align: middle;
        @include ptr(margin-top, -2);
    }
}
.lost_password{
    float: right;
    a{
        color: $color2;
        display: inline-block;
        @include ptr(margin-top, -2);
    }
}
.login-submit,
p.submit{
    @include ptr(margin, 25 0 0 0);
    text-align: center;
    input{
        display: inline-block;
        width: auto;
        @include ptr(min-width, 180);
    }
}
p.submit{
    margin: 0;
}

/*===Account-Settings===*/
.account-settings{
    @include ptr(margin, 115 0 0 0);
}
.form-account{
    label{
        @include ptr(margin, 40 0 0);
    }
    input[type="submit"]{
        line-height: 0;
    }
    input{
        @include ptr(padding,10 30);
        margin: 0;
    }
    textarea{
        @include ptr(height, 60);
        @include ptr(padding,10 30);
        margin: 0;
    }
    .btn-all{
        @include ptr(margin, 40 0 0);
    }
}
.form-account-input{
    label{
        display: block;
        position: relative;
        &:first-child{
            margin: 0;
        }
    }
}
.form-account-radio{
    position: relative;
    @include ptr(margin, 60 0 30 0);
    p{
        display: block;
        position: absolute;
        @include ptr(top, -35);
        left: 0;
        text-transform: uppercase;
        font-weight: bold;
        @include fluidFontSize(12px,14px,480px,1680px,18px,13px);
    }
    label{
        @include ptr(margin, 0 35 0 0);
        display: inline-block;
        &:last-child{
            margin: 0;
        }
    }
    .jq-radio,
    span{
        display: inline-block;
        vertical-align: middle;
    }
}

.account-text-space{
    @include ptr(padding, 0 0 0 30);
}
.account-text-block{
    display: flex;
    flex-wrap: wrap;
    @include ptr(margin, 50 0 0 0);
    &:first-child{
        margin: 0;
    }
    a{
        display: inline-block;
        text-decoration: underline;
        color: $color2;
        @include fluidFontSize(14px,16px,480px,1680px,20px,15px);
        &:hover{
            text-decoration: none;
        }
    }
}
.account-text-row{
    width: 50%;
    @include ptr(margin, 50 0 0 0);
    &:first-child,
    &:nth-child(2){
        margin: 0;
    }
    span{
        text-transform: uppercase;
        font-weight: bold;
        @include fluidFontSize(12px,14px,480px,1680px,18px,13px);
        color: #a5a5a5;
        display: block;
        @include ptr(margin, -6 0 5 0);
    }
    p{
        @include ptr(margin, 0 0 5 0);
    }
}
.account-text-trow{
    width: 100%;
}
.account-text-column{
    columns: 2;
    column-gap: 30px;
}
.account-blink{
    @include ptr(margin, 40 0 0 0);
}
.account-slink{
    @include ptr(margin, 10 0 0 0);
}
/*===Update-Billing===*/
.update-billing{
    @include ptr(margin, 80 0 0 0);
}
.form-billing{
    .form-account-input{
        span{
            display: block;
            @include ptr(margin, 0 0 7 0);
            text-transform: uppercase;
            font-weight: bold;
            @include fluidFontSize(12px,14px,480px,1680px,18px,13px);
        }
    }
}
#lostpasswordform label{
    display: block;
    @include ptr(margin, 0 0 7 0);
    text-transform: uppercase;
    font-weight: bold;
    @include fluidFontSize(12px,14px,480px,1680px,18px,13px);
}
.form-account-select-input{
    display: flex;
    align-items: flex-end;
    margin: 0 -15px;
    label{
        display: block;
        position: relative;
        @include ptr(margin, 0 0 40 0);
        width: 33.3333%;
        margin-left: 15px;
        margin-right: 15px;
        span{
            display: block;
            @include ptr(margin, 0 0 7 0);
            text-transform: uppercase;
            font-weight: bold;
            @include fluidFontSize(12px,14px,480px,1680px,18px,13px);
        }
        input,
        select{
            margin: 0;
        }
    }
}
/*===Departure-Cities===*/
.form-search-checkbox{
    display: flex;
    flex-wrap: wrap;
    @include ptr(margin, 0 -15);
}
.form-search-checkbox-block{
    width: 33.3333%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    @include ptr(padding, 0 15);
    label{
        @include fluidFontSize(14px,16px,480px,1680px,20px,15px);
        display: flex;
        align-items: center;
        @include ptr(margin, 0 0 20 0);
        width: 100%;
    }
}
.checkbox-all{
    align-self: flex-end;
    font-weight: bold;
}
.checkbox-low,
.departure-table-item-low{
    span{
        color: #ffc000;
    }
}
.checkbox-medium,
.departure-table-item-medium{
    span{
        color: #ff9300;
    }
}
.checkbox-rare,
.departure-table-item-rare{
    span{
        color: #7ac62d;
    }
}
.checkbox-high,
.departure-table-item-high{
    span{
        color: #ff4600;
    }
}

.departure-table{
    @include ptr(margin, 40 0 0 0);
    .title-block{
        margin: 0;
    }
}
.departure-table-item{
    position: relative;
    @include ptr(padding, 0 0 0 26);
    @include ptr(margin, 10 0 0 0);
    &::before{
        content: '';
        position: absolute;
        @include ptr(top,12);
        left: 0;
        height: 1px;
        @include ptr(width,16);
        background-color: #efefef;
    }
    p,span{
        display: inline-block;
        @include fluidFontSize(14px,16px,480px,1680px,20px,15px);
    }
    span{
        @include ptr(margin, 0 4 0 0);
    }
}

.form-middle-checkbox{
    display: block;
    text-align: center;
    .form-search-checkbox-block{
        display: inline-block;
        width: auto;
        text-align: left;
    }
}
.departure-thanks{
    @include fluidFontSize(15px,30px,480px,1680px,34px,22px);
    text-align: center;
}

.form-tags{
    @include ptr(width,575);
    margin: 0 auto;
}
.country-add{
    input{
        width: calc(100% - 60px);
        height: 60px;
        float: left;
        margin: 0;
    }
    .btn-plus{
        width: 60px;
        height: 60px;
        line-height: 0;
        background-color: $color2;
        float: left;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
        position: relative;
    }
}
.country-tags{
    margin: 15px -5px 0;
}
.country-tag{
    height: 40px;
    display: inline-block;
    background-color: #bdbdbd;
    border-radius: 25px;
    padding: 6px 5px 5px 20px;
    margin: 5px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    i{
        margin: 0 0 0 20px;
        vertical-align: middle;
        cursor: pointer;
    }
}

/*===Text-Pages===*/
.text-content{
    p{
        @include ptr(margin, 35 0 0 0);
        @include fluidFontSize(14px,16px,480px,1680px,20px,15px);
    }
    a{
        color: $color2;
    }
}
.text-center{
    text-align: center;
}