/* ==|====================
   Module/Text_edit
   ======================= */

.text_edit {
    h1 {
        @include fluidFontSize(28px,56px,480px,1680px,72px,42px);
        font-family: $font1;
        font-weight: bold;
        @include ptr(margin,0 0 35);
    }
    h2 {
        @include fluidFontSize(16px,24px,480px,1680px,28px,20px);
        font-family: $font1;
        font-weight: bold;
        @include ptr(margin,20 0 12);
        &:first-child{
            @include ptr(margin,0 0 12);
        }
    }
    h3 {
        @include fluidFontSize(14px,18px,480px,1680px,22px,16px);
        font-family: $font1;
        font-weight: bold;
        @include ptr(margin,20 0 12);
        &:first-child{
            @include ptr(margin,0 0 12);
        }
    }
    h1 + p,
    h2 + p,
    h3 + p{
        margin: 0;
    }
    p{
        @include fluidFontSize(14px,18px,480px,1680px,24px,16px);
        font-weight: normal;
        @include ptr(margin,12 0 0);
    }
    a{
        color: $color2;
        &:hover{
            text-decoration: underline;
        }
    }
    strong{
        font-weight: bold;
    }


    ul{
        @include fluidFontSize(14px,16px,480px,1023px,20px,16px);
        text-align: left;
        @include ptr(margin,30 0 30 15);
    }

    ul li ul {
        @include ptr(margin-top,15);
        text-align: left;
    }
    ul li {
        list-style-type: none;
        position: relative;
        @include fluidFontSize(14px,18px,480px,1680px,24px,16px);
        @include ptr(margin-top,12);
        @include ptr(padding-left,13);
        display: block;
        text-align: left;
    }
    ul li:first-child{
        margin: 0;
    }
    ul li:before {
        content: '';
        position: absolute;
        display: block;
        @include ptr(top,6);
        left: 0;
        @include ptr(width,6);
        @include ptr(height,6);
        border-radius: 50%;
        background-color: $color1;
    }

    ul li span{
        display: block;
        font-weight: bold;
        text-transform: uppercase;
    }

    ol {
        text-align: left;
        counter-reset: li;
        @include ptr(margin-top,15);
    }
    ol li {
        position: relative;
        @include fluidFontSize(14px,18px,480px,1680px,24px,16px);
        @include ptr(margin-top,12);
        display: block;
        text-align: left;
        &:first-child{
            margin: 0;
        }
    }

    ol li:before {
        content: counter(li, decimal) '.';
        counter-increment: li;
        color: $color2;
        @include ptr(margin, 0 5 0 10);
    }

    & > img{
        margin: 0 20px 0 0;
        margin: 0 2rem 0 0;
        display: block;
        max-width: 100%;
        height: auto;
        float: left;
    }

    blockquote {
        border: 1px dotted $color1;
        border-left: 5px solid $color3;
        border-left: .5rem solid $color3;
        font-style: italic;
        padding: 10px;
        padding: 1rem;
        width: 85%;
        margin: 15px auto 0;
        margin: 1.5rem auto 0;
    }

    table{
        width: 100%;
        @include ptr(margin-top,20);
    }
    th{
        font-weight: bold;
        padding: 18px;
        padding: 1.8rem;
        background-color: #ebebeb;
        border-left: 1px solid #d7d7d7;
        text-align: left;
    }
    th:first-child{
        border-left: 1px solid #ebebeb;
    }
    th:last-child{
        border-right: 1px solid #ebebeb;
    }
    td{
        background-color: #fff;
        font-weight: 400;
        padding: 18px;
        padding: 1.8rem;
        border: 1px solid #d7d7d7;
    }
}
