/* ==|====================
   Base/Fonts
   ======================= */

@font-face {
    font-family: 'ClearSans';
    src:
        url("../fonts/ClearSans-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'ClearSans';
    src:
        url("../fonts/ClearSans-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'ClearSans';
    src:
            url("../fonts/ClearSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ClearSans';
    src:
            url("../fonts/ClearSans-Italic.ttf");
    font-weight: normal;
    font-style: italic;
}